
/* Color */
$darkest-blue: #191E38;
$lightest-grey: #F2F5F8;

/* Dimension */
$h-full: 100%;
$h-screen: 100vh;
$w-full: 100%;
$w-screen: 100vw;

/* Position */


/* Routing */
$Muli-font-path: "../assets/fonts/Muli";

/* Typography */
