.bio__main-container {
  background-color: $darkest-blue;
  color: $lightest-grey;

  @include display-flex;
  flex-direction: column;
  justify-content: center;

  font-size: 1.2rem;
}

.bio__intro-container {
  @include display-flex;
  flex-direction: column;
  justify-content: center;
}

.bio__header {
  text-align: center;
}

.bio__first--paragraph,
.bio__second--paragraph,
.bio__third--paragraph {
  text-align: justify;
  margin: 1rem 1.8rem;
}

.bio__secondary--info {
  margin: 1rem 1.8rem;
}

