.bio__main-container {
  background-color: $darkest-blue;
  color: $lightest-grey;

  min-height: 800px;

  @include display-flex;
  flex-direction: column;
  justify-content: center;

  font-size: 1.2rem;
}

.bio__intro-container {
  background: linear-gradient($lightest-grey, #F2F2FF);
  color: $darkest-blue;
  line-height: 2;
  padding: 0 20px;
}

.bio__third--paragraph {
  margin-bottom: 50px;
}

.bio__secondary--info {
  width: $w-full;
  @include display-flex;
  flex-direction: column;
}

.bio__list-of-skills {
  padding: 0;
  margin: 0;
  width: 90%;
  margin-bottom: 50px;
}

.bio-skill {
  list-style: none;
}

.bio__subheader {
  width: 90%;
  max-width: 1024px;
  font-weight: 500;
  font-size: 32px;
  color: #84CEC7;
}

.bio-skill__header {
  color: #F2F5F8;
  white-space: pre-wrap;
}

.bio-skill__content {
  width: 90%;
  color: #9DB5BE;
}



@media screen and (min-width: 768px) {
  .bio__main-container {
    font-size: 1.5rem;
  }


  .bio__intro-container {
    line-height: 1.6;
    width: $w-full;
    @include display-flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
  }

  .bio__header {
    margin: 25px 0 0 0;
    font-size: 48px;
    width: 70%;
    max-width: 1024px;
  }

  .bio__first--paragraph,
  .bio__second--paragraph,
  .bio__third--paragraph, .bio__list-of-skills {
    width: 70%;
    max-width: 1024px;
    margin: 20px 0;
  }

  .bio__third--paragraph {
    margin-bottom: 50px;
  }

  .bio__secondary--info {
    width: 100%;
    line-height: 1.6;
  }

  .bio__subheader {
    width: 70%;
    max-width: 1024px;
    font-weight: 600;
    font-size: 32px;
    color: $light-blue;
  }

  .bio__list-of-skills {
    padding: 0;
    margin: 0;
  }

  .bio-skill {
    margin-bottom: 10px;
    color: $lightest-blue;
    display: flex;
  }

  .bio-skill__header {
    color: $lightest-grey;
    width: 30%;
    font-size: 24px;
  }

  .bio-skill__content {
    width: 69%;
    color: #9DB5BE;
  }
}

@media screen and (min-width: 1000px) {
  .bio__intro-container {
    padding: 100px 0;
  }
}