.bio__main-container {
  background-color: $darkest-blue;
  color: $lightest-grey;

  min-height: 800px;

  @include display-flex;
  flex-direction: column;
  justify-content: center;

  font-size: 1.2rem;
}

.bio__intro-container {
  @include display-flex;
  flex-direction: column;
  justify-content: center;
  background: linear-gradient($lightest-grey, #F2F2FF);
  color: $darkest-blue;
  width: 95%;
}

.bio__header {
  margin: 0;
  width: $w-full;
}

.bio__secondary--info {
  width: $w-full;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.bio__list-of-skills {
  padding: 0;
  margin: 0;
}

.bio-skill {
  list-style: none;
}

@media screen and (min-width: 768px) {
  .terminal {
    max-width: 190px;
    margin-right: 60px;
  }

  .bio__main-container {
    font-size: 1.5rem;
  }


  .bio__intro-container {
    line-height: 1.6;
    width: $w-full;
  }

  .bio__header {
    margin-top: 25px;
    font-size: 48px;
    width: 70%;
    max-width: 1024px;
  }

  .bio__first--paragraph,
  .bio__second--paragraph,
  .bio__third--paragraph, .bio__list-of-skills {
    width: 70%;
    max-width: 1024px;

  }

  .bio__third--paragraph {
    margin-bottom: 50px;
  }

  .bio__secondary--info {
    width: 100%;
    line-height: 1.6;
  }

  .bio__subheader {
    width: 70%;
    max-width: 1024px;
    font-weight: 600;
    font-size: 32px;
    color: $light-blue;
  }

  .bio__list-of-skills {
    padding: 0;
    margin: 0;
  }

  .bio-skill {
    margin-bottom: 10px;
    color: $lightest-blue;
    display: flex;
  }

  .bio-skill__header {
    color: $lightest-grey;
    width: 30%;
    font-size: 24px;
  }

  .bio-skill__content {
    width: 69%;
    color: #9DB5BE;
  }
}

