html {
  min-height: $h-screen;
  min-width: $w-screen;
}

body {
  box-sizing: border-box;
  height: $h-full;
  width: $w-full;

  margin: 0;
  padding: 0;
}

.App {
  background-color: $lightest-grey;

  height: $h-full;
  width: $w-full;

  font-family: "Muli", sans-serif;
  font-size: 14px;
}