.main-blog__section-header {
  font-size: 48px;
  font-weight: 600;
  color: #ED6F85;
}

.main-blog__section {
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}