.portfolio__footer {
  background-color: $darkest-blue;
  color: $lightest-grey;

  height: $component-height;
  width: $w-full;

  @include display-flex;
  justify-content: space-between;
}

.footer__additional-info {
  width: 100px;

  margin-left: 1.43rem;
}

.footer__contact-link {
  color: $lightest-grey;

  margin-right: 1.43rem;

  text-decoration: none;
}