.portfolio__footer {
  background-color: $darkest-blue;
  color: $lightest-grey;

  height: $component-height;
  width: $w-full;

  @include display-flex;
  justify-content: flex-end;
}

.footer__contact-link {
  color: $links-color;
  letter-spacing: 2px;

  margin-right: 2rem;

  text-decoration: none;
}

@media screen and (min-width: 768px) {
  .linkedin {
    margin-right: 7rem;
  }
}