.main-not-found__section-header {
  font-size: 48px;
  font-weight: 600;
  color: $light-blue;
}

.main-not-found__section {
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}