.project__outer-wrapper {
  min-height: 45rem;
}

.project__image {
  width: 100%;
  height: 20rem;
}

.project__header {
  font-size: 28px;
  letter-spacing: 0.1rem;
  margin-left: 0.2rem;
}

.project__technologies-header {
  font-size: 14px;
  margin-left: 1rem;
}

.project__technologies-description {
  margin: 0 1.5rem;
  width: 90%;
}

.project__description-header {
  font-size: 14px;
  margin-left: 1rem;
}

.project__description {
  margin: 0 1.5rem;
  width: 90%;
}

.project__links-header {
  font-size: 14px;
  margin-left: 1rem;
}
