.project__outer-wrapper {
  min-height: $h-full;
  @include display-flex;
  flex-direction: column;
}

.project__image-wrapper {
  width: $w-full;

  @include display-flex;
  justify-content: center;
  margin: 0;

  background-color: $darkest-blue;
}

.project__image {
  width: $w-full;
}

.project__information-wrapper {
  overflow: hidden;
  width: 90%;
}

.project__header {
  font-size: 28px;
  letter-spacing: 0.1rem;
  margin-top: 1.5rem;
  color: $darkest-blue;
  width: $w-full;
}

.project__technologies-header {
  font-size: 0.85rem;
  margin: 1.5rem 0 0 0;
  width: $w-full;
}

.project__technologies-description {
  margin-top: 1.5rem;
  width: $w-full;
}

.project__description-header {
  font-size: 0.85rem;
  margin: 1.5rem 0 0 0;
  width: $w-full;
}

.project__description {
  font-size: 1rem;
  line-height: 2;
  margin-top: 1.5rem;
  width: $w-full;
}

.project__links-header {
  font-size: 0.85rem;
  margin-top: 1.5rem;
  width: $w-full;
}

.project__links-wrapper {
  width: $w-full;
  padding: 0;

  .project__links {
    width: $w-full;
    padding: 0;
    list-style: none;
    margin-bottom: 0.9rem;
    font-size: 1rem;

    text-decoration: none;
  }
}

.project__link--github {
  text-decoration: none;
  color: $dark-grey;
}

.project__link--github:active {
  text-decoration: underline;
  color: #435bd3;
  text-decoration-color: $darkest-blue;
}

.project__link--github:visited {
  text-decoration: none;
  color: #435bd3;
}

@media screen and (min-width: 768px) {
  .project__image {
    width: 30rem;
    padding-bottom: 20px;
  }

  .project__header {
    font-size: 28px;
  }

  .project__information-wrapper {
    max-width: 1024px;
    width: $w-full;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 1.5rem;
  }

  .project__technologies-header {
    font-size: 1.2rem;
    margin-top: 1.5rem;
  }

  .project__technologies-description {
    margin-top: 1.5rem;
    font-size: 1.2rem;
  }

  .project__description-header {
    font-size: 1.2rem;
    margin-top: 1.5rem;
  }

  .project__description {
    margin-top: 1.5rem;
    font-size: 1.2rem;
  }

  .project__links-header {
    font-size: 1.2rem;
    margin-top: 1.5rem;
  }
}