.projects__main-container {
  color: $lightest-grey;
  height: $h-screen;

  justify-content: center;
  @include display-flex;
  flex-direction: column;
}

.carousels__wrapper {
  @include display-flex;
  margin: 2.18rem;
  justify-content: center;

  -webkit-box-shadow: 7px 10px 35px 0px rgba(5,5,15,0.63);
  -moz-box-shadow: 7px 10px 35px 0px rgba(5,5,15,0.63);
  box-shadow: 7px 10px 35px 0px rgba(5,5,15,0.63);
  border-radius: 1%;

  width: 95vw;
  height: 37.5rem;
}

/* Carousel Component */

.carousel__outer-wrapper {
  width: $w-full;
  height: $h-full;

  display: flex;
  justify-content: center;
  overflow: hidden;
}

.carousel__inner-wrapper {
  transition: transform 1s ease;

  height: $h-full;
  width: $w-full;
}

/* Images Component */

.carousel__slide--thumbnail-link {
  height: 600px;
  display: block;
  position: relative;
}

.carousel__slide-image {
  height: $h-full;
  width: $w-full;
}

.carousel__slide--project-header {
  color: $darkest-blue;

  height: 600px;

  @include display-flex;
  justify-content: center;
  margin: 0;

  border: 0;

  font-size: 30px;
  font-weight: 800;
}

.carousel__header-container {
  transform: translateY(-5400px);
}

/* ProjectTitles Component */

.carousel__slide--header-link {
  text-decoration: none;
  display: flex;
  justify-content: center;
  text-align: center;
  .carousel__slide--project-header {
    width: $w-full;
  }
}


/* Arrows Component */

.carousel__slide-button--prev {
  background: none;
  color: $dark-blue;
  cursor: pointer;

  border: 1px solid transparent;
  outline: none;

  font-size: 40px;
  font-weight: 700;
}

.carousel__slide-button--next {
  background: none;
  color: $dark-blue;
  cursor: pointer;

  border: 1px solid transparent;
  outline: none;

  font-size: 40px;
  font-weight: 700;
}

.legend__additional-info {
  color: $dark-grey;
  font-size: 0.9rem;
  font-style: italic;
  margin: 1rem 0;
}


/* Bottom navigation (Buttons) */

.slider__buttons-container--bottom {
  width: $w-full;

  @include display-flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
}

.button-act {
  background-color: $dark-blue;
  cursor: pointer;

  height: $seven-pixels;
  width: $seven-pixels;

  border: 1px solid $dark-blue;
  border-radius: $seven-pixels;

  margin-right: 1rem;
  padding: 0;
}

.button-no-act {
  background-color: transparent;
  cursor: pointer;

  height: $seven-pixels;
  width: $seven-pixels;

  border: 1px solid $dark-blue;
  border-radius: $seven-pixels;

  margin-right: 1rem;
  padding: 0;
}

.slider__nav--dots {
  width: $w-full;
  @include display-flex;
  justify-content: center;
}

.slider__nav--arrows {
  width: 95%;
  @include display-flex;
  justify-content: space-between;
  margin: $seven-pixels 0;
}

@media screen and (max-width: 767px) {
  .carousels__wrapper {
    @include display-flex;
    flex-direction: column;
    margin: 20px;
    height: 600px;
  }

  /* Carousel Component */

  .carousel__outer-wrapper {
    height: 300px;
  }

  .carousel__inner-wrapper {
    transition: transform 1s ease;
  }

  /* Images Component */

  .carousel__slide--thumbnail-link {
    height: 300px;
  }

  .carousel__slide-image {
    height: $h-full;
    width: $w-full;
  }

  .carousel__slide--project-header {
    height: 300px;
  }

  .carousel__header-container {
    transform: translateY(-2700px);
  }


}

