.projects__main-container {
  color: $lightest-grey;

  justify-content: center;
  @include display-flex;
  flex-direction: column;
}

.welcome__section--message {
  color: $darkest-blue;
  height: 300px;
  width: $w-full;
  @include display-flex;
  flex-direction: column;
  justify-content: center;
  background-image: linear-gradient(rgb(25, 30, 56), rgb(32, 38, 71));
}

.welcome__section--header-message {
  font-size: 46px;
  font-weight: 300;
  color: $lightest-grey;
}

.welcome__section--subheader-message {
  font-size: 16px;
  color: $light-blue;
  font-weight: 300;
}

/* Carousel Component */

.carousel__outer-wrapper {
  width: 300px;

  display: flex;
  justify-content: center;
  overflow: hidden;
}

.carousel__inner-wrapper {
  transition: transform 1s ease;

  height: $h-full;
  width: $w-full;

  @include display-flex;
  justify-content: flex-start;

}

/* Images Component */

.carousel__slide-container--thumbnail {
  height: 300px;

  @include reset-list;
}

.carousel__slide-image {
  height: 300px;
  width: 300px;
}

.carousel__slide--project-header {
  color: $darkest-blue;
  border: 0;

  width: $w-full;

  font-size: 30px;
  font-weight: 800;
}

/* Arrows Component */

.carousel__slide-button--prev {
  background: none;
  color: $dark-blue;

  width: 120px;

  border: 1px solid $darkest-blue;
  outline: none;

  font-size: 40px;
  font-weight: 700;
}

.carousel__slide-button--next {
  background: none;
  color: $dark-blue;

  width: 120px;

  border: 1px solid $darkest-blue;
  outline: none;

  font-size: 40px;
  font-weight: 700;
}


/* Bottom navigation (Buttons) */

.slider__buttons-container--bottom {
  height: 100px;
  width: $w-full;

  @include display-flex;
  justify-content: center;
  flex-wrap: wrap;
}

.button-act {
  background-color: $dark-blue;

  height: $seven-pixels;
  width: $seven-pixels;

  border: 1px solid $dark-blue;
  border-radius: $seven-pixels;

  margin-right: $seven-pixels;
  padding: 0;
}

.button-no-act {
  background-color: transparent;

  height: $seven-pixels;
  width: $seven-pixels;

  border: 1px solid $dark-blue;
  border-radius: $seven-pixels;

  margin-right: $seven-pixels;
  padding: 0;
}

.slider__nav--dots {
  width: $w-full;
  @include display-flex;
  justify-content: center;
}



