/* Color */
/* Dimension */
/* Position */
/* Routing */
/* Typography */
.navigation__top {
  background-color: #191E38;
  height: 200px;
  width: 100%;
  font-size: 0.7rem; }

.navigation__list {
  height: 200px;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center; }

.navigation__list--home-links {
  margin: 0;
  padding: 0;
  list-style: none;
  margin-right: auto;
  margin-left: 1rem; }

.navigation__link--home {
  color: #F2F5F8;
  margin-right: auto;
  display: flex;
  align-items: center;
  font-size: 1rem;
  font-weight: 700;
  text-decoration: none; }

.navigation__image-link--home {
  background-color: #F2F5F8;
  height: 2.14rem;
  width: 2.14rem;
  border: 1px solid #F2F5F8;
  border-radius: 1rem;
  margin-right: 0.5rem; }

.navigation__list--links {
  list-style: none;
  margin: 0;
  padding: 0; }

.navigation__link {
  color: #F2F5F8;
  margin-right: 1rem;
  font-weight: 700;
  text-decoration: none; }

html {
  min-height: 100vh;
  min-width: 100vw; }

body {
  box-sizing: border-box;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0; }

.App {
  background-color: #F2F5F8;
  height: 100%;
  width: 100%;
  font-family: "Muli", sans-serif;
  font-size: 14px; }

/* Temporary */
img {
  width: 200px;
  height: 200px; }

.portfolio__footer {
  background-color: #191E38;
  color: #F2F5F8;
  height: 200px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between; }

.footer__additional-info {
  width: 100px;
  margin-left: 1.43rem; }

.footer__contact-link {
  color: #F2F5F8;
  margin-right: 1.43rem;
  text-decoration: none; }

.projects__main-container {
  color: #F2F5F8;
  justify-content: center;
  display: flex;
  align-items: center;
  flex-direction: column; }

/* Carousel Component */
.carousel__outer-wrapper {
  width: 300px;
  display: flex;
  justify-content: center;
  overflow: hidden; }

.carousel__inner-wrapper {
  transition: transform 1s ease;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start; }

/* Images Component */
.carousel__slide-container--thumbnail {
  height: 300px;
  margin: 0;
  padding: 0;
  list-style: none; }

.carousel__slide-image {
  height: 300px;
  width: 300px; }

.carousel__slide--project-header {
  color: #191E38;
  border: 0;
  width: 100%;
  font-size: 30px;
  font-weight: 800; }

/* Arrows Component */
.carousel__slide-button--prev {
  background: none;
  color: #202647;
  width: 120px;
  border: 1px solid #191E38;
  outline: none;
  font-size: 40px;
  font-weight: 700; }

.carousel__slide-button--next {
  background: none;
  color: #202647;
  width: 120px;
  border: 1px solid #191E38;
  outline: none;
  font-size: 40px;
  font-weight: 700; }

/* Bottom navigation (Buttons) */
.slider__buttons-container--bottom {
  height: 100px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap; }

.button-act {
  background-color: #202647;
  height: 5px;
  width: 40px;
  border: 1px solid #202647;
  border-radius: 20px;
  margin-right: 5px; }

.button-no-act {
  background-color: transparent;
  height: 5px;
  width: 40px;
  border: 1px solid #202647;
  border-radius: 20px;
  margin-right: 5px; }

.slider__nav--dots {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center; }

@font-face {
  src: url("../assets/fonts/Muli/Muli-Light.ttf") format("truetype");
  font-family: "Muli";
  font-weight: 300; }
@font-face {
  src: url("../assets/fonts/Muli/Muli-Regular.ttf") format("truetype");
  font-family: "Muli";
  font-weight: 400; }
@font-face {
  src: url("../assets/fonts/Muli/Muli-Bold.ttf") format("truetype");
  font-family: "Muli";
  font-weight: 700; }

/*# sourceMappingURL=main.css.map */
